<div class="container" style="margin-top: 50px;">
    <a name="contact"></a>
    <h5 class="my-3 border-bottom pb-2"><i class="fas fa-users fa-fw" aria-hidden="true"></i>&nbsp; 만든 사람들</h5>
    <ul class="list-group">
        <li class="list-group-item"><strong><i class="fas fa-code fa-fw" aria-hidden="true"></i>&nbsp; 팀장 및 프로젝트 총괄 : 강성현 / <a href="mailto:ksh95@naver.com">ksh95@naver.com</a> / <a href="https://github.com/QR-Fi/QR-Fi">GitHub</a> </strong></li>
        <li class="list-group-item"><strong><i class="fas fa-code fa-fw" aria-hidden="true"></i>&nbsp; Front-End 및 AWS 배포 : 배재현 / <a href="mailto:baeajehyun95@gmail.com">baejaehyun95@gmail.com</a> / <a href="https://github.com/HardM00N">GitHub</a> </strong></li>
        <li class="list-group-item"><strong><i class="fas fa-code fa-fw" aria-hidden="true"></i>&nbsp; Back-End 및 QR 로직 작성 : 소수엽 / <a href="mailto:ssy5603@gmail.com">ssy5603@gmail.com</a> / <a href="https://github.com/PrimeNumber2357">GitHub</a> </strong></li>
        <li class="list-group-item"><strong>QR-Fi using Python Flask, qrcode, pillow, Javascript, Bootstrap, jQuery, AWS EC2</strong></li>
    </ul>
</div>