<div class="container" style="margin-top: 50px;">
    <a name="contact"></a>
    <h5 class="my-3 border-bottom pb-2"><i class="fas fa-users fa-fw" aria-hidden="true"></i>&nbsp; 만든 사람들</h5>
    <div class="row"> 
        <div class="col-md"> 
            <div class="card" > 
               <img src="{{ url_for('static', filename='ksh.png') }}" class="card-img-top" alt="..."> 
               <div class="card-body"> 
                   <h5 class="card-title">Kang Sung-hyun</h5> 
                   <p class="card-text">- 부경대학교 컴퓨터공학과 재학<br>- QR-Fi 팀장<br>- QR-Fi 프로젝트 설계 및 진행</p> 
                   <a href="https://github.com/QR-Fi/QR-Fi" class="btn btn-primary">GitHub</a>
                   <a href="mailto:ksh95@gmail.com" class="btn btn-primary">Send Mail</a>  
               </div> 
            </div> 
         </div> 
         <div class="col-md">
            <div class="card" > 
                <img src="{{ url_for('static', filename='bjh.png') }}" class="card-img-top" alt="..."> 
                <div class="card-body"> 
                    <h5 class="card-title">Bae Jae-hyun</h5> 
                    <p class="card-text">- 부경대학교 컴퓨터공학과 재학<br>- QR-Fi Front-End 웹 서비스 구축 및 AWS EC2 배포</p> 
                    <a href="https://github.com/HardM00N" class="btn btn-primary">GitHub</a>
                    <a href="mailto:baejaehyun95@gmail.com" class="btn btn-primary">Send Mail</a>  
                </div> 
             </div> 
         </div> 
         <div class="col-md">
            <div class="card" > 
                <img src="{{ url_for('static', filename='ssy.png') }}" class="card-img-top" alt="..."> 
                <div class="card-body"> 
                    <h5 class="card-title">So Soo-yeop</h5> 
                    <p class="card-text">- 부경대학교 컴퓨터공학과 재학<br>- QR-Fi Back-End 웹 서버 구축 및 QR 생성 로직 작성</p> 
                    <a href="https://github.com/PrimeNumber2357" class="btn btn-primary">GitHub</a>
                    <a href="mailto:ssy5603@gmail.com" class="btn btn-primary">Send Mail</a>  
                </div> 
             </div> 
         </div> 
     </div>
</div>