{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2"><i class="fas fa-plus fa-fw" aria-hidden="true"></i>&nbsp; QR-Fi 만들기</h5>
    <form method="post" class="post-form my-3">
        <div class="form-group" style="margin-top: 20px;">
            <i class="fas fa-signal fa-fw" aria-hidden="true"></i>&nbsp;
            <label for="ssid">무선 네트워크 이름 (SSID)</label>
            <input type="text" class="form-control" placeholder="SSID를 입력하세요" name="ssid" id="ssid">
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <i class="fas fa-key fa-fw" aria-hidden="true"></i>&nbsp;
            <label for="password">무선 네트워크 비밀번호 (Key)</label>
            <div class="input password">
                <input type="password" class="form-control" placeholder="Key를 입력하세요" name="password" id="password">
                <div class="eyes">
                    <i class="fas fa-eye"></i>
                </div>
                <!-- 눈 버튼 클릭 시 비밀번호 보이기 / 감추기 -->
                <script>
                    $(function(){
                        $('.eyes').on('click',function(){ 
                            $('.input.password').toggleClass('active'); 
                            if( $('.input.password').hasClass('active') == true ){ 
                                $(this).find('.fa-eye').attr('class',"fas fa-eye-slash").parents('.input').find('#password').attr('type',"text");
                            } 
                            else{ 
                                $(this).find('.fa-eye-slash').attr('class',"fas fa-eye").parents('.input').find('#password').attr('type','password'); 
                            } 
                        }); 
                    });
                </script>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <i class="fas fa-lock fa-fw" aria-hidden="true"></i>&nbsp;
            <label for="protocol">무선 네트워크 암호화 방식</label>
            <select name="protocol" class="form-control">
                <option value="WPA">WPA/WPA2</option>
                <option value="WEP">WEP</option>
                <option>암호화 없음</option>
            </select>
        </div>
        <div class="form-group" style="margin-top: 30px;" align="right">
            <button type="submit" class="btn btn-primary"><i class="fas fa-qrcode fa-fw" aria-hidden="true"></i>&nbsp; QR-Fi 만들기</button>
        </div>
    </form>
</div>
<!-- QR-Fi가 뭐죠? -->
{% include "about.html" %}
<!--  지원되는 기기들 -->
{% include "support.html" %}
<!-- 만든 사람들 -->
{% include "contact.html" %}
{% endblock %}