{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">QR-Fi 만들기</h5>
    <form method="post" class="post-form my-3">
        <div class="form-group">
            <i class="fas fa-signal fa-fw" aria-hidden="true"></i>&nbsp;
            <label for="ssid">무선 네트워크 SSID</label>
            <input type="text" class="form-control" placeholder="SSID" name="ssid" id="ssid">
        </div>
        <div class="form-group">
            <i class="fas fa-key fa-fw" aria-hidden="true"></i>&nbsp;
            <label for="password">무선 네트워크 비밀번호(Key)</label>
            <input type="password" class="form-control" placeholder="Password" name="password" id="password">
        </div>
        <div class="form-group">
            <i class="fas fa-lock fa-fw" aria-hidden="true"></i>&nbsp;
            <label for="protocol">무선 네트워크 암호화 방식</label>
            <select name="protocol" class="form-control">
                <option value="WPA">WPA/WPA2</option>
                <option value="WEP">WEP</option>
                <option>암호화 없음</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="fas fa-qrcode fa-key" aria-hidden="true"></i>&nbsp; QR-Fi 만들기</button>
        </div>
    </form>
</div>
{% endblock %}