<div class="container" style="margin-top: 50px;">
    <a name="about"></a>
    <h5 class="my-3 border-bottom pb-2"><i class="fas fa-qrcode fa-fw" aria-hidden="true"></i>&nbsp; 지원되는 기기들</h5>
    <p style="line-height:220%; word-break:keep-all; word-wrap:break-word;"><i class="fab fa-apple fa-fw" aria-hidden="true"></i>&nbsp;iOS 11 이후 버전의 iOS 기기에서는 카메라 앱에서 QR 코드를 스캔해 Wi-Fi 네트워크에 연결할 수 있습니다.<br>
        <i class="fab fa-android fa-fw" aria-hidden="true"></i>&nbsp;삼성 갤럭시 시리즈 등의 Android 기기에서도 카메라 앱의 QR 코드 스캔을 통해 Wi-Fi 네트워크에 연결할 수 있습니다. (경우에 따라 업데이트를 요함)</p>
    <p style="line-height:220%; word-break:keep-all; word-wrap:break-word;">* 지원되지 않는 Android 기기에서는 별도의 QR 코드 스캐너 앱을 설치해 상기 기능을 이용할 수 있습니다.</p>
</div>